version: 2
updates:
  # Go modules
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    
  # CDK dependencies  
  - package-ecosystem: "gomod"
    directory: "/deployments/glad"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 3
    
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"